@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #4A3728;
    --color-accent: #C5A059;
    --color-background: #F9F7F2;
    --color-text-main: #333333;
    --font-serif: 'Montserrat', sans-serif;
    --font-sans: 'Montserrat', sans-serif;
  }

  body {
    @apply bg-background text-text-main font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary;
  }
}